@import "~aos/dist/aos.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Ubuntu', sans-serif;
}

* {
    font-family: 'Poppins', serif;
}

.landing-section-title-info {
    font-family: 'Architects Daughter', serif;
}

@layer components {
    .app-container {
        @apply container mx-auto max-w-md sm:max-w-xl md:max-w-full lg:max-w-screen-xl px-4;
    }

    .button-main {
        @apply mx-auto lg:mx-0 bg-red-500 font-semibold text-white text-base md:text-lg rounded py-2 px-10 transition-colors duration-200 hover:bg-red-600;
    }

    .navigation {
        @apply hidden md:flex w-full md:w-auto md:space-x-8 mt-4 md:mt-0;
    }
    .navigation-item {
        @apply block md:inline-block py-3 text-center tracking-tight text-lg md:text-left md:py-0 border-b border-gray-200 md:border-0 text-gray-900 transition-colors duration-200 hover:text-red-600;
    }
    .navigation-item.active {
        @apply text-red-500 font-medium;
    }

    .landing-section-title-info {
        @apply block uppercase tracking-widest text-xs text-red-500 font-bold mb-2;
    }
    .landing-section-title {
        @apply mb-4 text-2xl sm:text-3xl md:text-4xl font-bold text-gray-900 tracking-tight;
    }
    .landing-section-description {
        @apply text-gray-500 tracking-wide leading-relaxed text-xs sm:text-sm md:text-base;
    }
    .page-main-title {
        @apply tracking-tight text-3xl md:text-4xl xl:text-5xl mb-8 font-bold text-gray-900 text-center;
    }
    .page-main-description {
        @apply text-gray-500 tracking-wide leading-relaxed text-center text-sm md:text-base xl:text-lg;
    }

    .main-technology-grid {
        @apply grid gap-x-5 lg:grid-cols-3;
    }
    .main-technology-card {
        @apply px-12 py-14 mb-4 md:mb-0 border border-gray-100 text-center overflow-hidden transition duration-300 transform shadow-md rounded-xl hover:scale-105 hover:shadow-lg bg-white;
    }
    .main-technology-name {
        @apply font-medium text-lg md:text-xl lg:text-2xl mb-5 mt-12;
    }
    .main-technology-description {
        @apply text-gray-500 text-xs md:text-sm leading-relaxed tracking-wide;
    }

    .technology-stack-grid {
        @apply flex flex-wrap justify-around md:justify-start -mx-4 md:-mx-10;
    }
    .technology-item {
        @apply px-4 md:px-12 py-8;
    }
    .technology-image {
        @apply h-12 md:h-20 w-12 md:w-20 mx-auto;
    }
    .technology-name {
        @apply font-medium text-gray-600 mt-6 md:mt-7 text-center text-sm md:text-base;
    }

    .project-div {
        @apply relative bg-white shadow rounded-lg border border-gray-200 overflow-auto;
    }
    .project-title {
        @apply tracking-tight text-xl md:text-2xl font-semibold text-gray-900 sm:text-3xl;
    }
    .project-description {
        @apply text-gray-500 mt-5 sm:mt-6 md:mt-7 text-sm md:text-base leading-6 md:leading-7;
    }
    .project-button {
        @apply bg-white text-xs md:text-sm font-medium text-red-500 border-2 border-red-500 rounded py-2 px-10 transition-colors duration-200 hover:bg-red-100;
    }

    .landing-hero-slogan {
        @apply lg:leading-tight tracking-tight text-center lg:text-left text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 mb-5 lg:mb-7;
    }
    .landing-hero-description {
        @apply text-center lg:text-left text-sm md:text-base xl:text-lg xl:leading-7 mb-4 lg:mb-7 text-gray-600;
    }

    .footer-group {
        @apply leading-6 md:leading-8;
    }
    .footer-item {
        @apply text-gray-600 text-sm md:text-base pb-2;
    }

    .dev-process-title {
        @apply mb-2 text-base md:text-lg font-medium;
    }
    .dev-process-description {
        @apply text-gray-500 text-xs md:text-sm;
    }
}
